pkgbase = snapd
	pkgdesc = Service and tools for management of snap packages.
	pkgver = 2.68
	pkgrel = 1
	url = https://github.com/snapcore/snapd
	install = snapd.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = go
	makedepends = go-tools
	makedepends = libseccomp
	makedepends = libcap
	makedepends = systemd
	makedepends = xfsprogs
	makedepends = python-docutils
	makedepends = apparmor
	makedepends = autoconf-archive
	depends = squashfs-tools
	depends = libseccomp
	depends = libsystemd
	depends = apparmor
	optdepends = bash-completion: bash completion support
	optdepends = xdg-desktop-portal: desktop integration
	conflicts = snap-confine
	options = !strip
	options = emptydirs
	options = !lto
	source = snapd-2.68.tar.xz::https://github.com/snapcore/snapd/releases/download/2.68/snapd_2.68.vendor.tar.xz
	sha256sums = 317166b18e6b87a1fb24c45b96bc3c0040072ab31a99252db622245ac271dbb2

pkgname = snapd
