pkgbase = snapd
	pkgdesc = Service and tools for management of snap packages.
	pkgver = 2.63
	pkgrel = 1
	url = https://github.com/snapcore/snapd
	install = snapd.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = go
	makedepends = go-tools
	makedepends = libseccomp
	makedepends = libcap
	makedepends = systemd
	makedepends = xfsprogs
	makedepends = python-docutils
	makedepends = apparmor
	makedepends = autoconf-archive
	depends = squashfs-tools
	depends = libseccomp
	depends = libsystemd
	depends = apparmor
	optdepends = bash-completion: bash completion support
	optdepends = xdg-desktop-portal: desktop integration
	conflicts = snap-confine
	options = !strip
	options = emptydirs
	options = !lto
	source = snapd-2.63.tar.xz::https://github.com/snapcore/snapd/releases/download/2.63/snapd_2.63.vendor.tar.xz
	source = 0001-cmd-snap-seccomp-define-GNU_SOURCE-for-fallocate.patch
	sha256sums = 2f0083d2c4e087c29f48cd1abb8a92eb2e63cf04cd433256c86fac05d0b28cab
	sha256sums = f96cb34620105ae654f84296b8bbbc938608ff117dc987fbe1274f61681e333f

pkgname = snapd
