pkgbase = snapd
	pkgdesc = Service and tools for management of snap packages.
	pkgver = 2.67
	pkgrel = 1
	url = https://github.com/snapcore/snapd
	install = snapd.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = go
	makedepends = go-tools
	makedepends = libseccomp
	makedepends = libcap
	makedepends = systemd
	makedepends = xfsprogs
	makedepends = python-docutils
	makedepends = apparmor
	makedepends = autoconf-archive
	depends = squashfs-tools
	depends = libseccomp
	depends = libsystemd
	depends = apparmor
	optdepends = bash-completion: bash completion support
	optdepends = xdg-desktop-portal: desktop integration
	conflicts = snap-confine
	options = !strip
	options = emptydirs
	options = !lto
	source = snapd-2.67.tar.xz::https://github.com/snapcore/snapd/releases/download/2.67/snapd_2.67.vendor.tar.xz
	sha256sums = 8c069713bb3a62201d64cec795c247e006673914f92b0bef3add0e5ff379716f

pkgname = snapd
